Options -Indexes
RewriteEngine On
RewriteBase /DADOSCONTATO/public/

# Redireciona tudo para index.php, exceto arquivos/pastas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
